.bg-uniones {
    background-image: url("../img/back.jpg");
    background-position: center;
    background-size: cover;
    height: 100%;
  }
  
  .bg-nomenclatura {
    background-image: url("../img/back3.jpg");
    background-position: center;
    background-size: cover;
    height: 100%;
  }
  
  .bg-elementar {
    background-image: url("../img/back4.jpg");
    background-position: center;
    background-size: cover;
    height: 100%;
    
  }

  .bg-descargas {
    background-image: url("../img/back5.jpg");
    background-position: center;
    background-size: cover;
    height: 100%;
  }
  
  .bg-informacion {
    background-image: url("../img/back6.jpg");
    background-position: center;
    background-size: cover;
    height: 100%;
  }

  .bg-informacion p{
    font-size: 1.30rem;
  }

  .logo-untref img{
    float: right;
    display: block;
    padding-block-end: 10px;
    height: 80px;
    width: 190px;
}

.logo-atomicamente{
  height: 35px;
  width: 270px;
  margin-right: 90%;
}

.footer p{
  font-size: 1rem;
}

@media (max-width: 765px) {
  .bg-elementar p {
    font-size: 1.1rem;
    }
  section{
    min-height: 850px;
    padding: 1rem;
  }
  .logo-atomicamente{
    height: 30px;
    width: 215px;
    margin-right: 0%;
  }
  header{
    min-height: 850px;
    padding: 1rem;
  }
  header.masthead{
    padding-top: 1rem;
  }
  a{
    font-size: 1.3rem;
  }
}

@media (max-width: 992px) {
  p {
  font-size: 1.5rem;
  }
}

@media (max-width: 1200px) {
  p {
  font-size: 1.5rem;
  }
}